@keyframes blink {
        0% {
            color: blue;
        }

        50% {
            color: red;
        }

        100% {
            color: blue;
        }
    }

    .blinking-text {
        animation: blink 4s infinite;
    }

	/* khung chua marquee */
    .khung {
        width: 500px;
        /* background-color: aqua; */
        margin: auto;
        font-size: 25px;
        font-family: 'Young Serif', serif;
    }
    
    /* khung ben ngoai khung chua marquee */
    .khungChuaMarquee {
    	width: 100%;
    	background-color: white;
    }

	/* css cua the <span> */
    .red {
        color: red;
    }
    
    .my-bg-img {
	/* background-image: url('https://img.freepik.com/premium-photo/shelf-with-books_257123-9780.jpg'); */
	/* background-image: url('https://i.ytimg.com/vi/T0c-H86VUno/maxresdefault.jpg'); */
	/* background-image: url('https://wallpaperaccess.com/full/2743084.jpg'); */
	background-image:
		url('https://i.pinimg.com/originals/df/2e/d1/df2ed1ab50447ec49a453813c90604cb.png');
	/* background-image: url('https://img.freepik.com/photos-premium/scene-rue-enseignes-au-neon-voiture-au-premier-plan_551707-785.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	}
	
	.iconCachPhai {
    margin-right: 5px;
	}
	
	/*
	a {
		text-decoration: none;
		color: black;
	}
	*/
	
	.mycardfooter {
    /* padding: 0; */
    /* border: none; */
    background-color: #f0f1f2;
	}
	
	.myfontfamily {
    font-family: 'Dela Gothic One', cursive;
    /* font-family: 'Bitter', serif; */
    /* font-family: segoe ui; */
    /* color: #19c319; */
    /* color: tomato; */
    /* color: green; */
    color: blue;
    /* border-style: solid; */
    /* border-radius: 20px; */
    border-bottom: 2px solid blue;
	}
	
	.mybgnavbar {
		background-color: turquoise;
	}
	
	.no-underline {
		color: black;
		text-decoration: none;
	}
	
	/* css book details */
h1.mytitle {
    font-family: GT Super Bold, serif;
    font-weight: 600;
    font-size: 50px;
}

.author {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
    color: #8d8588;
}

.available {
    font-family: IBM Plex Sans , sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 600;
    /* color: #1fa5a3; */
    color: green;
}
.unavailable {
    font-family: IBM Plex Sans , sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 600;
    /* color: #1fa5a3; */
    color: red;
}

.price {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
    color: gray;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    border: 1px solid;
    display: inline-block;
    border-top-width: revert;
}

.mybtn {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
    margin-top: 25px;
}

.details {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
    color: gray;
    font-size: 15px;
}

.details-li {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
}

.bookinfo {
    font-size: 25px;
}

.bookinfoborder {
    border: 1px solid green;
    border-radius: 5px;
    background-color: #f0f1f2;
}

.cachTren {
	margin-top: 80px;
}

/* css toast */
#toast {
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -150px;
	background: #333;
	padding: 10px;
	color: white;
	text-align: center;
	z-index: 1;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
	border-left: 15px solid green;
}

#toast.display {
	visibility: visible;
	animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
	from { 
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadeOut {
	from { 
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

/* css navbar */
.imgCachTrai {
	margin-right: 20px;
}

	/* css user cart*/
	.td {
    max-width: 120px;
    /*white-space: nowrap;*/ /*k cho noi dung xuong dong*/ 
    /*overflow: hidden;*/ /*an noi dung vuot qua do rog*/ 
    /*text-overflow: ellipsis;*/ /*an noi dung = dau ...*/ 
    text-wrap: wrap;
	}
	

	